@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.image{
    justify-content: left;
    margin-top: 120px;
}

.image-mision{
    width: 350px;
    height: 350px;
    margin-left: 150px;
    object-fit: cover;

}

.container{
    justify-content: right;
    margin-top: 200px;
    
}


.titre{
    justify-content: right;
    margin-top: -550px;
}
.text-mission{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    
    color: black;
    font-size: 20px;
    font-weight: bold;
 
    margin-left: 500px;
    margin-top: -40px;
    
}

.paragraph{
    font-size: 20px;
    margin-left: 500px;
    margin-top: 20px;
    font-weight: normal;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.opening-hour{
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left: 150px;
    margin-top: 20px;
}


.paragraphe-mission{
    border: solid;
    
    border-color: #B79D70;
    margin-left: 500px;
    margin-right:250px;
    margin-top: 80px;
    padding: 20px;
}


.time-day{
    color: black;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    margin-left: 150px;
   

}


.blok-time-day{
    margin-top: -25px;
    display: flex;
}

.clock{
    width : 45px; 
    height : 45px;
    border-radius : 50px;
    padding: 6px;
    border: solid;
    background-color: #B79D70 ;
    border-color: #B79D70;
    margin-left: 40px;
    display: block;

   



}
.white{
    color: white;
    width: auto;
    height: auto;
    font-size: 30px;
}

