@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.header-prospect{
    
    margin-top:30px;
    margin-left: 250px;
}

.titre-prospect{
    text-align: left;
    font-size: 30px;
    color: black;
    font-family:'Poppins', sans-serif;
    margin-left: 100px;
    

}

.add-prospect{
    border: solid 2px #707070;
    
    border-radius: 10px;
    font-size:12px;
    background:linear-gradient(to bottom left,#707070,#B79D70);
    height: 35px;
    width: 180px;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 100px;

}

.add-prospect:hover{
    border: solid 2px #707070;
    margin-left: 350px;
    border-radius: 10px;
    font-size:12px;
    background:white;
    height: 35px;
    width: 180px;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 100px;

}


/*.recherche{
    width: 30%;
    height: 30%;
    border-radius: 10px;


}
.kine-search{
    border: 1px solid #B79D70;
    border-radius: 30px;
    height: 30%;
    width: 30%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin-top:30px;
    margin-left: 50px;
}


.kine-search span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
    margin-left: 20px;
}

.kine-search input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    
 }*/


 .table-prospect{
    border-collapse: collapse;
    border: solid #707070;
    margin-left: 350px;
    margin-top: 10px;
 }

.thead-prospect tr {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;

}

.thead-prospect td{
    font-weight: 700;

}

.td-prospect {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: black;
    justify-content: center;
    text-align: center;
    
}

.icon-prospect{
    justify-content: center;
    display: flex;
}


.edit,
.delete{
    padding: auto;
    margin-top: 10px;
}


.table-responsive{
    width: 100%;
    overflow-x: auto;
}