@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.body-register{
    background: #f7f7f7;
    justify-content: center;
}

.h1-inscription{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    


}



.texte-service{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top:40px;

}
.text-inscription{
    justify-content: center;
}


.form-register{
    
    margin-top: 30px;
    justify-content: center;
  
}

.blok1-register{
    /* display: inline-flex; */
    display: flex;
    /* text-align: center; */
    justify-content: center;
    text-align: center;
    /* margin-left: 400px; */
    margin-top: 50px;
   
    
}

.blok2-register{
    /* display: inline-flex; */
    display: flex;
    /* text-align: center; */
    justify-content: center;
    text-align: center;
    /* margin-left: 400px; */
    margin-top: 50px;
   
    
}
.case-cocher{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 30px;


}

.boutton-inscri{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;

}
.btn-inscription{
    background-color:linear-gradient(#141414 , #707070);
    background: black;
    color:white;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.texte-register{
    
    margin-left: 50px;
    box-sizing: border-box;
    background: none;
    margin-bottom: 30px;
    padding:4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #141414;  
}

.label-register{
    font-size: 20px;
    font-family:'Poppins', sans-serif ;
    font-weight: bold;
    text-align: center;
}

