@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.header-categorie{

    margin-top:30px;
    margin-left: 250px;
}


.titre-categorie{
    text-align: left;
    font-size: 30px;
    color: black;
    font-family:'Poppins', sans-serif;
    margin-left: 100px;
   

}

.add-categorie{
    border: solid 2px #707070;
    margin-left: 350px;
    border-radius: 10px;
    font-size:12px;
    background:linear-gradient(to bottom left,#707070,#B79D70);
    height: 35px;
    width: 180px;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 110px;

}

.add-categorie:hover{
    border: solid 2px #707070;
    margin-left: 350px;
    border-radius: 10px;
    font-size:12px;
    background:white;
    height: 35px;
    width: 180px;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 110px;

}



/*.icon-search{
    width: 50%;
    height: 50%;
}

.categorie-search{
    border: 1px solid #B79D70;
    border-radius: 30px;
    height: 10%;
    width: 20%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin-top:30px;
    margin-left: 350px;
}


.categorie-search span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
    margin-left: 20px;
}

.categorie-search input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    width: 50%;
    
    
 }*/

.categorie-table{
    border-collapse: collapse;
    border: solid #707070;
    margin-left: 350px;
    margin-top: 10px;
}

.thead-categorie tr {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;

}

.thead-categorie td{
    font-weight: 700;

}

.td-cat{
    padding: .5rem 1rem;
    font-size: .9rem;
    color: black;
    justify-content: center;
    text-align: center;
    
}

.icon-cat{
    justify-content: space-evenly;
    display: flex;
}


.edit,
.delete{
    padding: auto;
    margin-top: 10px;
}

.table-responsive-cat{
    width: 100%;
    overflow-x: auto;
}

.fa-trash-alt:hover{
    color: red;
}
.fa-edit:hover{
    color: yellowgreen;
}
