:root {
    --primary: white;
    font-family: 'Poppins', sans-serif;
  font-weight: bold;
  }
  
  
  .btn {
    padding: 8px 10px;
    position: relative;
    margin-top: -20px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border: solid;
    border-color:#B79D70 ;
    font-size: 15px;
    color: black;
    cursor: pointer;
    margin-right: 20px;
    background-color: var(--primary);
  }
  
  .btn:hover {
    padding: 8px 10px;
    border-radius: 10px;
    border: solid;
    border-color:#B79D70 ;
    transition: all 0.3s ease-out;
    font-family: 'Poppins', sans-serif;
  font-weight: bold;
  }
  @media screen and (max-width: 960px) {
    .btn  {
      display: none;
    }}