.dropdown-menu{
    width: 100px;
    position:absolute;
    top:80px;
    list-style: none;
    text-align: center;
}


.dropdown-menu li {
    background:white;
    cursor: pointer;

}

.dropdown-menu li:hover {
    background: white;
    

}

.dropdown-menu.clicked {
    display: none;
    

}

.dropdown-link{
    display: block;
    width: 100%;
    text-decoration: none;
    color:black;
    pad: 16px;
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }

