@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.navbar {
  background: white;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.navbar-logo {
  height: 90px;
  justify-self: start;
  width: 100px;
  cursor: pointer;
 
}
.logo{
  margin-right: 30px;
  width: 140px;
  margin-top: -40px;
  object-fit: cover;
  
}


.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: white !important;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #B79D70;
 font-size: 2rem;
}

.nav-links-mobile {
  display: none;

  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems .shop-icon  {
    position: relative;
  }
  
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    justify-self: left;
    margin-left: -40px;
    margin-top: -40px;
    transform: translate(25%, 50%);
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: white;
    border-radius: 0;
  }

 

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 15px;
    cursor: pointer;
  }

  .fa-times {
    color: #B79D70;
    font-size: 3rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 10px;
    border-color: black;
    width: 80%;
    background: white;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

  }
    
  

  .nav-links-mobile:hover {
    background: white;
    color: black;
    border-radius: 10px;
    border-color: #B79D70;
    transition: 250ms;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
  }
  .button{
    position: relative;
    /*padding: 8px 10px 8px;
    border: solid;
    border-color:#B79D70 ;*/
  
    
    
    
  }
  .shop-icon{
    
    display: none;
    transform: translate(25%, 50%);
    }
   
}

.shop-icon{
  padding-left:initial;
  position: relative;
  }
  .shop{
    width: 20px;
    height: 30px;
    margin-right: 10px;
      
     position: relative;
  }




  
