:root{
   --main-grey: #f7f7f7;
   --main-white : white ;
   --main-black:black;
 }
 
 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style-type: none;
   text-decoration: none;
   font-family: 'Poppins' , sans-serif;
 }
 
 .sidebar-dash{
  width: 22%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background:  linear-gradient(130deg,#141414 , #707070);
  z-index: 100;
  transition: width 300ms;
 
 }
 
 .logo-side{
   object-fit: cover;
   width: 150px;
   height: 100px;
   margin-left:30px;
   margin-top:20px;
 }
 
 
 
 .sidebarDash-menu span{
  color:white;
  font-size: 15px;
  
  padding: 10px;
  
 }
 .sidebarDash-menu Link.active{
  background: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-white);
  border-radius: 30px 0px 0px 30px;
 }
 
 .icone-dash{
  color:white;
  font-size:15px;
  margin-top:20px,
 }
 
 .titre-menu{
  width: 100%;
  margin-bottom: 1.7rem;
 }
 .ul-dash{
  margin-top:50px;}
 
 .titre-menu Link{
  display: block;
   color: white;
   font-size: 1rem;
   font-weight: bold;
   padding-left: 1rem;
 }
 
 
 .titre-menu Link:active{
  background: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
  border-radius: 30px 0px 0px 30px;
 }
 
 .header-dash{
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 0;
  
  width: 78%;
  top: 0;
  z-index: 100;
  transition: left 400ms;
 }
 
 .header-dash label span {
    direction: 1.7rem;
    padding-left: 1rem;
 }
 
 .header-dashboard{
  transition: margin-left 300ms;
  margin-left: 345px;
  width: 400px;
 }
 
 .search-wrapper{
  border: 1px solid #ccba9c;
  border-radius: 30px;
  height: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  overflow-x: hidden;
 
 }
 
 .search-wrapper span{
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
 }
 
 .search-wrapper input{
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
 
 
 }
 
 .user-wrapper{
   display: flex;
   align-items: center;
 
 }
 
 
 .user-wrapper img {
   border-radius: 50%;
  margin-right: 1rem;
 }
 
 
 .user-wrapper small{
  display: inline-block;
  color: black;
 
 
 
 }
 
 #nav-dash-toggle{
  display: none;
 }
 
 #nav-dash-toggle:checked+.sidebar-dash{
  width: 70px;
 }
 
 
 #nav-dash-toggle:checked+.sidebar-dash .titre-dash,
 #nav-dash-toggle:checked+.sidebar-dash li{
  padding-left: 1rem;
  text-align: center;
 }
 
 #nav-dash-toggle:checked+.sidebar-dash li Link{
  padding-left: 0rem;
 }
 
 #nav-dash-toggle:checked+.sidebar-dash .titre-dash img span:last-child,
 #nav-dash-toggle:checked+.sidebar-dash li Link span:last-child{
  display: none;
 }
 
 
 #nav-dash-toggle:checked~.main{
  margin-left: 70px;
 }

 .name-admin{
    margin-top:5px;
 }
 
 
 .main{
  transition: margin-left 300ms;
  margin-left:310px;
  background: #f7f7f7;
 }
 
 .main-card{
  margin-top: 85px;
  padding: 2rem 1.5rem;
 
  min-height: calc(100vh - 90px);
 
 
 }
 
 .cards-list{
  display: grid;
  grid-gap: 5rem ;
  grid-template-columns: repeat(3 , 1fr);
  margin-top: 55px;
  margin-bottom: 1rem;
 
 }
 
 .title-span{
  font-size: 20px;
  font-family: 'Poppins' , sans-serif;
  color: black;
 }
 
 .icon-list{
  background-color:linear-gradient(130deg,#141414 , #707070);
  font-size: 30px;
  margin-top: -30px;
 
 }
 
 .card-single{
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 2rem;
  border-radius: 2px;
 }
 
 .card-single:last-child h1,
 .card-single:last-child div:first-child span,
 .card-single:last-child div:last-child span{
  color:black
 }
 
 
 
 .recent-grid{
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 65% auto;
 
 }
 
 
 
 
 .card-header{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f7f7f7 ;
  color:#222;
 }
 
 .btn-card{
  background-color: #f7f7f7;
  border-radius: 10px;
  color:black;
  font-size: .8rem;
  padding: .5rem 1rem;
  border:1px solid #B79D70;
 }
 
 
 table{
  border-collapse: collapse;
 }
 
 
 .thead-dash tr{
  border-top: 1px solid #f7f7f7;
  border-bottom: 2px solid #f7f7f7;
 }
 
 .thead-dash td{
  font-weight: 700;
 
 }
 
 .td-dash{
  padding: .5rem 1rem;
  font-size: .9rem;
  color: black;
 }
 
 td .status-burly{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1rem;
 }
 
 .status-burly{
  background:#B79D70 ;
 }
 
 tr td:last-child{
  display: flex;
  align-items: center;
 }
 
 .table-responsive{
  width: 100%;
  overflow-x:auto ;
 }
 
 
 
 
 .customer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .7rem;
 
 }
 
 .info{
  display: flex;
  align-items:center ;
 }
 
 .info img{
  font-size: 50%;
  margin-right: 1rem;
 
 }
 
 .info h4{
  font-size: .8rem;
  font-weight: 700;
  color: black;
 
 }
 
 .info small{
  font-weight: 600;
  color:black;
 }
 
 .contact span{
  font-size: 1.2rem;
  display: inline-flex;
  margin-left: .5rem ;
 }
 
 
 
 @media only screen and (max-width: 1200px){
  .sidebar-dash{
      width:70px ;
 
  }
  .sidebar-dash .titre-dash,
  .sidebar-dash li {
      padding-left: 1rem;
      text-align: center;
  }
  
  .sidebar-dash li Link {
      padding-left: 0rem;
  }
 
  .sidebar-dash .titre-dash h2 span:last-child {
      display: none;
  }
 
  .main{
      margin-left:70px;
  }
  .menu-sidebar{
      display: none;
  }
  .logo-side{display: none;}
 
  .main .header-dash{
      width: calc(100% - 70px);
      left:70px;
  }
 }
 
 
 @media only screen and (max-width: 768px){
  .card{
      grid-template-columns: repeat(2, 1fr);
  }
 
  .recent-grid{
      grid-template-columns: 100%;
  }
 
  .search-wrapper{
      display: none;
      justify-content: center;
  }
 
  .sidebar-dash{
      left: -100% !important;
  }
 
  .header-dashboard .header-dash{
      display: flex;
      align-items: center;
  }
 
  .header-dashboard .header-dash label{
      display: inline-block;
      text-align: center;
      background: white;
      padding-right: 0rem;
      margin-right: 1rem;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center !important;
  }
 
  .header-dashboard .header-dash span{
      text-align: center;
      padding-right: 0rem;
 
  }
 
  .header-dashboard .header-dash{
      font-size: 1.1rem;
  }
 
  .main{
      width: 100%;
      margin-left:0rem;
  }
 
  .header-dash{
      width: 100%  !important;
      left: 0 !important;
  }
 
  .header-dashboard{
      width: 100%  !important;
      left: 0 !important;
  }
 
  #nav-dash-toggle:checked+.sidebar-dash{
      left:0 !important;
      z-index: 100;
      width:345px ;
  }
 
 
  #nav-dash-toggle:checked+.sidebar-dash:hover{
      
      width:345px ;
      z-index: 200px;
  }
 
 
  #nav-dash-toggle:checked+.sidebar-dash .titre-dash,
  #nav-dash-toggle:checked+.sidebar-dash:hover li{
      padding-left: 2rem;
      text-align: left;
  }
 
  #nav-dash-toggle:checked+.sidebar-dash li Link{
      padding-left: 1rem;
  }
 
 
  #nav-dash-toggle:checked+.sidebar-dash .titre-dash h2 span:last-child,
  #nav-dash-toggle:checked+.sidebar-dash li Link span:last-child{
      display: inline;
  }  
  
  .search-wrapper{
      border: 1px solid #ccba9c;
      border-radius: 30px;
      height: 50%;
      width: 50%;
      display: flex;
      align-items: center;
      overflow-x: hidden;
      justify-content: center;
  
   }
  
   .search-wrapper span{
      display: inline-block;
      padding: 0rem 1rem;
      font-size: 1.5rem;
   }
  
   .search-wrapper input{
      height: 100%;
      padding: .5rem;
      border: none;
      outline: none;
  
  
   }
  
 }
 
 @media only screen and (max-width :560px) {
  .cards-list{
      grid-template-columns: 100%;
  }
 
 
  .search-wrapper{
      border: 1px solid #ccba9c;
      border-radius: 30px;
      height: 50%;
      width: 50%;
      display: flex;
      align-items: center;
      overflow-x: hidden;
      justify-content: center;
  
   }
  
   .search-wrapper span{
      display: inline-block;
      padding: 0rem 1rem;
      font-size: 1.5rem;
   }
  
   .search-wrapper input{
      height: 100%;
      padding: .5rem;
      border: none;
      outline: none;
  
  
   }
 
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 