<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Page</title>
    <link rel="stylesheet" href="./public/css/style.css" />
  </head>
  <body>
    <div class="contact_form">
      <h3 class="contact_form__title">Contactez-nous</h3>
      <form method="POST" action="/sendemail">
        <div class="contact_form__inputGroup">
          <label>Nom</label>
          <input type="text" name="name" placeholder="Veuillez entrer votre nom" />
        </div>
        <div class="contact_form__inputGroup">
          <label>Prénom</label>
          <input
            type="text"
            name="surname"
            placeholder="Veuillez entrer votre prénom"
          />
        </div>
        <div class="contact_form__inputGroup">
          <label>To</label>
          <input
            type="email"
            name="email"
            placeholder="Veuillez entrer  Email de votre destinataire"
          />
        </div>
        <div class="contact_form__inputGroup">
          <label>From</label>
          <input
            type="email"
            name="email"
            placeholder="Veuillez entrer votre Email"
          />
        </div>
        <button class="contact_form__submitBtn" type="submit">Envoyer</button>
      </form>
    </div>
  </body>
</html>
