<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email envoyé</title>
    <link rel="stylesheet" href="./public/css/style.css" />
  </head>
  <body>
    <div class="sent_pageBox">
      <h2 class="sent_pageBox__title">Votre Email a été envoyé</h2>
     
    </div>
  </body>
</html>
