.body-login{
    background: #f7f7f7;
    justify-content: center;
}
.h1-login{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif,
}

.texte-login{
    
    margin-left: 50px;
    box-sizing: border-box;
    background: none;
    margin-bottom: 30px;
    padding:4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #141414;  
}



.blok2-login{
    display: flex;
    text-align: center;
    justify-content: center;
    /* text-align: center; */
    /* margin-left: 400px; */
    margin-top: 50px;
   
    
}

.label-login{
    font-size: 20px;
    font-family:'Poppins', sans-serif ;
    font-weight: bold;
    text-align: center;
}


.boutton-login{
    display: flex;
    
    justify-content: center;

}
.btn-login{
    background-color:linear-gradient(#141414 , #707070);
    background: black;
    color:white;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.form-group{
    text-align: center;
}