.btn-feedback{
    border: solid 2px#707070;
    margin-left: 20px;
    border-radius: 10px;
    font-size:12px;
    background:linear-gradient(to bottom left,#707070,#B79D70);
    height: 35px;
    width: 180px;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 25px;
}