@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.Footer-container{
  margin-top:200px;
  padding: auto;
  background-color: black;
  position:relative;
  width: 100%;
  height:20%;
 
 

}

.text-copyright{
    color:white;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 500px;
    font-family: 'Poppins', sans-serif;

}

.FooterLink{
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
   
    margin-left: 30px;

     
   
}

.icons{
    justify-content: center;
    margin-left: 520px;
}


