
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
h5{
    color: #B79D70 ;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 60px;
}


h4{
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 40px;

}

.image-spa{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 40px;
  object-fit: cover;
  

}




.captions-img {
    vertical-align: top;
    display: inline-block;
    margin-top: 30px;
    margin-left: 175px;
    font-size: 12px;
   font-weight: bold;
   font-family: 'Poppins', sans-serif;
    justify-content: center;
    color: black;
}


.items-container-service{
    display: flex;
    margin-left: 200px;
    
}


.item-service{
    
  
    margin-left: -80px;
}

.image-icon{
    width : 125px; 
    height : 125px;
    border-radius : 75px;
    border: solid;
    border-color:#B79D70 ;
    margin-left: 150px;
    margin-top: 100px;
    padding: 20px;
}

.img-icon{
    width : 75px; 
    height : 75px;
   
}


.image-icon:hover{
    transition: all 0.3s ease-out;
    background-color: #B79D70;
}

.img-icon:hover{
    transition: all 0.3s ease-out;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}






