@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.text-therapist{
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    

}
.therapiste{
    margin-top:60px;
}

.items-container-therapist{
    display:inline-flex;
    margin-left: 120px;
    margin-top: -30px;
    
    position: relative;
    
    
}

.name{
    display: flex;
    justify-content: center;
    margin-left: -40px;
    margin-top: -30px;
   
}

.work{
    display: flex;
    justify-content: center;
    margin-left: -40px;
    
   
}

.caption-therapist{
    font-size: 17px;
    color: #B79D70;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    

}


.title-therapist{
    font-size: 14px;
    color: black;
    
    font-weight: bold;
    margin-left: 100px;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    

}
.image-icons-therapist{
    width : 150px; 
    height : 150px;
    object-fit: cover;
    border-radius : 400px;
    padding: 3px;
    background-color: #B79D70 ;
    border-color: #B79D70;
    margin-left: 50px;
    margin-top: 5px;


}




.card-container {
    width: 250px;
    height: 300px;
    display: inline-flex;
    background-color: #ECEFF1;
    position: static;
    z-index: -2;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin-left: 120px;
    margin-top: 100px;
    
    
    
  }

  
.black{
    color: black;
}




.icon-Link{
 
   justify-content: space-around;
   display: flex;
   margin-left: 50px;
   margin-top: 20px;
   font-size: 12px;
   
}


@media screen and (max-width: 960px) {
	.items-container-therapist,
    .card-containe {
		display:grid;
		grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
		grid-gap: 1rem;
        grid-row: 1rem;
        margin-left: auto;
        margin-right: auto;

        /*display: table-cell;
        vertical-align: middle ;*/
        
        
	}

    .item-therapist{
        margin: 0;

    }

	
}

  
  
  
 


  