@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.header-user{
    margin-top:30px;
    margin-left: 250px;
}

.titre-user{
    text-align: left;
    font-size: 30px;
    color: black;
    font-family:'Poppins', sans-serif;
    margin-left: 100px;

}


.add-user{
    border: solid 2px #B79D70;
    margin-left: 350px;
    border-radius: 10px;
    font-size:12px;
    background:linear-gradient(to bottom left,#707070,#B79D70);
    height: 35px;
    width: 180px;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 110px;

}

.add-user:hover{
    border: solid 2px #B79D70;
    margin-left: 350px;
    border-radius: 10px;
    font-size:12px;
    background:white;
    height: 35px;
    width: 180px;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
    margin-top:20px;
    margin-left: 110px;

}

/*.recherche{
    width: 50%;
    height: 30%;
    border-radius: 10px;


}
.user-search{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin-top:30px;
    margin-left: 50px;
}


.user-search span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
    margin-left: 20px;
}

.user-search input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    
 }*/

 
 .form-user{
    margin-top:20px;
    margin-left: 350px;
}

.list-select{
   
   height: 25px;
   width: 150px;
   border: solid #B79D70;

}

 .table-user{
    border-collapse: collapse;
    border: solid #707070;
    margin-left: 350px;
    margin-top:10px
    
}

.thead-user tr {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;

}

.thead-user td{
    font-weight: 700;
    text-align: center;

}

.td-table{
    padding: .5rem 1rem;
    font-size: .9rem;
    color: black;
    justify-content: center;
    text-align: center;
    
}



.icon-membre{
    justify-content: center;
    display: flex;
}


.edit,
.delete{
    padding: auto;
    margin-top: 10px;
}
   





.table-responsive{
    width: 100%;
    overflow-x: auto;
}
