@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.navbar-register{
    height: 70px;
    background: white;
}


.logo-register{
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-top:-40px;
    cursor: pointer;
    justify-self: start;
}




.compte{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top:-80px;
    margin-left: 900px;
  
}

.register-btn{
    margin-left:50px;
   
  
    bottom: 0;
    background-color: white;
    border: solid 2px #f7f7f7;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    position: relative;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
   
}

.btn-register-header{
    margin-top: -42px;
    margin-left: 1100px;

}

.block-register{
    display: inline-flex;
}

.shop-register{
    float:right;
    margin-top:-32px;
    margin-right: 20px;
}

.logo-shop-register{
    width: 25px;
    height: 30px;
    margin-right: 10px; 
     position: relative;
     object-fit: cover;
}