@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.header-seance{
    margin-top:30px;
    margin-left: 250px;
}

.titre-seance{
    text-align: left;
    font-size: 30px;
    color: black;
    font-family:'Poppins', sans-serif;
    margin-left: 100px;
   

}

.add-seance{
    border: solid 2px #707070;
    margin-left: 350px;
    border-radius: 10px;
    font-size:12px;
    background:linear-gradient(to bottom left,#707070,#B79D70);
    height: 35px;
    width: 180px;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 110px;

}


.add-seance:hover{
    border: solid 2px #707070;
    margin-left: 350px;
    border-radius: 10px;
    font-size:12px;
    background:white;
    height: 35px;
    width: 180px;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 110px;

}

/*.recherche{
    width: 30%;
    height: 30%;
    border-radius: 10px;


}

.seance-search{
    border: 1px solid #B79D70;
    border-radius: 30px;
    height: 30%;
    width: 30%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin-top:30px;
    margin-left: 50px;
}


.seance-search span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
    margin-left: 20px;
}

.seance-search input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    
 }*/

.seance-table{
    border-collapse: collapse;
    border: solid #707070;
    margin-left: 350px;
    margin-top: 10px;
}

.thead-seance tr {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;

}

.thead-seance td{
    font-weight: 700;
    text-align: center;

}

.td-seance{
    padding: .5rem 1rem;
    font-size: .9rem;
    color: black;
    justify-content: center;
    text-align: center;
    
}

.icon-seance{
    justify-content: center;
    display: flex;
}


.edit,
.delete{
    padding: auto;
    margin-top: 10px;
}

.table-responsive-seance{
    width: 100%;
    overflow-x: auto;
}