@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.block1{
    width: 1535px;
    height: 610px;
    display: flex;
    flex-direction: column;
    
}

.slide1{
  margin-left: -500px;
  margin-top: 400px;
  

}

 .img1{
   margin-top: -300px;
   object-fit: cover;
  
    position: relative;
   
 }

 .h2 {
  text-align: left;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  color: #ffffff;
  margin-left: 400px;  
}

.text-relax{
    font-size: 30px;
    color: white;
    margin-right: 300px;

}

  .btn1{
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-left: -600px;
    font-family: 'Poppins', sans-serif;
    background-color: #B79D70 ;
    padding: 6px 8px;
    border: solid;
    border-color:#B79D70 ;
    color: white;
    height: 15%;
    width: 15%;
  }





.img2{
    margin-top: -300px;
    object-fit: cover;
  }

  .h {
    text-align: left;
    font-weight: bold;
    font-size: 60px;
    color: #ffffff;
    margin-left: -100px;
    font-family: 'Poppins', sans-serif;
   
    
  }
  
  .p2{
      font-size: 30px;
      color: white;
      margin-left: -500px;
  
  }


  .btn2{
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-left: -1000px;
    font-family: 'poppins';
    background-color: #B79D70 ;
    padding: 8px 10px;
    border: solid;
    border-color:#B79D70 ;
    color: white;
  }

  @media screen and (max-width: 960px) {
   .carousel{
     position:relative;
   }
   .slide1{
     position: absolute;
   
   }

   .slide2{
     position: absolute;
     
   }

   .h{
     position: absolute;
   }

   .btn1{
     position: absolute;
     justify-content: center;
     display: flex;
   }

   .text-relax{
    position: absolute;

}
  
  }