@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 

.body-preinscription{
    background: #f7f7f7;
    justify-content: center;

}

.h1-preinscription{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}

.text-preinscription{
    justify-content: center;

}


.text-service-preinscription{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top:40px;

}


.form-preinscription{
    margin-top: 30px;
    justify-content: center;

}

.blok1-preinscription{
     /* display: inline-flex; */
     display: flex;
     /* text-align: center; */
     justify-content: center;
     text-align: center;
     /* margin-left: 400px; */
     margin-top: 50px;

}

.texte-preinscription{
    margin-left: 50px;
    box-sizing: border-box;
    background: none;
    margin-bottom: 30px;
    padding:4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #141414;  

}



.label-preinscription{
    font-size: 20px;
    font-family:'Poppins', sans-serif ;
    font-weight: bold;
    text-align: center;

}



.message-preinscription{
    justify-content: center;
    text-align: center;
    align-items: center;
}


.blok2-preinscription{
    /* display: inline-flex; */
    display: flex;
    /* text-align: center; */
    justify-content: center;
    text-align: center;
    /* margin-left: 400px; */
    margin-top: 50px;

}

.blok3-preinscription{
    /* display: inline-flex; */
    display: flex;
    /* text-align: center; */
    justify-content: center;
    text-align: center;
    /* margin-left: 400px; */
    margin-top: -20px;

}


.boutton-preinscri{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top:5px;

}
.btn-preinscription{
    background-color:linear-gradient(#141414 , #707070);
    background: black;
    color:white;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}