.img-profile{

    width: 149px;
    height: 149px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    background-color: white;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.name-email {
   text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
    
    color: black;
}

.container-profile{
    margin-left: 300px;
}

.about {
    margin-top: -20px;
    text-align:justify;
}
.about-card {
   text-align: center;
    color: #B79D70;
    font-weight: bolder;
   
}
.account-settings .about p {
    font-size: 14px;
    text-align: center;
}


input[type="file"]{
    display:none;

}

.label-pic{
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 20px;
    background:linear-gradient(to bottom left,#707070,#B79D70);
    color:black;
    border:1px solid #B79D70;
    padding: 2px 15px;
    border-radius: 8px;
    transition: all 0.3s;
   
}

.personal-detail {
    margin-top: 30;
    font-size:15px;
    font-weight: 400;
    color: #B79D70;
    font-weight: bolder;
}


.card-profile {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
    
}




.text-nom,
.text-prenom,
.text-email,
.text-password,
.text-password2{
    display: block;
    box-sizing: border-box;
    background: none;
    margin-bottom: 30px;
    padding:4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #707070;  
    
}

.text-nom:focus,
.text-prenom:focus,
.text-email:focus,
.text-password:focus,
.text-password2:focus{
    border-bottom: 2px solid #B79D70;
    border-bottom-right-radius: 20px;
    color:#B79D70;
    transition: 0.2 ease;
 


}

.cancel,
.done{
    border:1px solid #B79D70;
    background:linear-gradient(to bottom left,#707070,#B79D70);
    color:black;
    height: 20%;
    width: 20%;
    border-radius: 5px;

}

.cancel{
    float: left;
    margin: 10px;

}

.done{
    
    margin: 10px;
}