@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');




.block-location{
    justify-content: left;
    margin-top: -290px;
   
}

.block-contact{
    justify-content: right;
    margin-left: 900px;
    margin-top: -460px;
}

.location{
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 400px;
    margin-left: 150px;
}

.contact{
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 20px;
    
}


.phone{
    color: black;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    font-weight: bold;
    margin-left: 20px;
}

.class1{
    display: inline-flex;
}

.class2{
    display: flex;
}

.phone-icon{
    margin-left: 120px;
    margin-top: 21px;
    
   

}


.email{
    color: black;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    font-weight: bold;
    margin-left: 20px;
}

.email-icon{
    margin-left: 120px;
    margin-top: 24px;
   
}

.maps{
    width: 500px;
    height: 300px;
    margin-top: 20px;
    margin-left: 150px;
    object-fit: cover;
}

.form-inpute{
    border-radius: 10px;
    padding-left: 180px;
    margin-left:15px;
    padding-top: 8px;
    align-self: right;
   
    
}

.form{
    display: flex;
    margin-top: 20px;
}

.text-description{
    border-radius: 10px;
    padding-left: 180px;
    margin-left:15px;
    padding-top: 30px;
    

}

.btn-submit{
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 150px;
    margin-left:15px;
    padding-top: 8px;  
    background-color: #B79D70;
    background-size:50%;
    width:370px;
   height: 40px;
    

}

.submit{
    background-color:transparent;
    color: white;
    justify-content: center;
    border: none;
    margin-right: 50px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    
}



